@{
    ViewBag.Title = "Algumas informações sobre mim";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<p>
    <a class="btn btn-primary center-block" data-toggle="collapse" href="#Historico" role="button" aria-expanded="false" aria-controls="collapseExample">
        Meu histórico profissional
    </a>
</p>
<div class="collapse" id="Historico">
    <div class="card card-body">
        Iniciei minha carreira profissional aos 16 anos em uma empresa do ramo vidreiro onde eu exercia a função de assistente de vendas. Minha primeira experiência profissional foi primordial para o desenvolvimento das minhas habilidades de comunicação, já que lidava com clientes diretamente. Após meu primeiro emprego tive a oportunidade de trabalhar em uma empresa do mesmo ramo onde exerci a mesma atividade. Ao final de 2018 concluí um curso técnico em informática que determinou o que eu gostaria de seguir profissionalmente. Atualmente trabalho como Especialista em suporte de sistemas na Kyndryl Brasil, onde estou desenvolvendo novas habilidades e conhecimentos, tornando mais abrangente meu conhecimento em TI.
    </div>
</div>
<hr />
<p>
    <a class="btn btn-primary center-block" data-toggle="collapse" href="#PorQue" role="button" aria-expanded="false" aria-controls="collapseExample">
        Por que busco um novo emprego?
    </a>
</p>
<div class="collapse" id="PorQue">
    <div class="card card-body">
        Hoje trabalho em uma grande empresa do ramo de TI, porém ainda não alcancei a função que desejo exercer. Amo todos os ramos do mundo de TI, porém o que mais me interessa é o desenvolvimento de sistemas. Por isso, procuro uma primeira oportunidade para exercer essa função e aprender cada vez mais sobre.
    </div>
</div>
<hr />
<p>
    <a class="btn btn-primary center-block" data-toggle="collapse" href="#Contratar" role="button" aria-expanded="false" aria-controls="collapseExample">
        Por que acho que devem me dar uma oportunidade?
    </a>
</p>
<div class="collapse" id="Contratar">
    <div class="card card-body">
        Vocês precisam de um profissional habilitado para esta vaga, e acredito que esse profissional possa ser eu. Não tenho todas as qualificações e conhecimento que vocês buscam, mas acredito que isso seria uma oportunidade para a MagniFinance moldar um profissional de acordo com os requisitos que precisa. Todo profissional qualificado precisou de uma primeira chance, e estou em busca da minha.
    </div>
</div>

