@{
    ViewBag.Title = "Contato";
}
<h2 class="text-center">@ViewBag.Title</h2>
<h3>Endereço</h3>

<address>
    Avenida das Ondas, Nº 4604<br />
    Piracicaba, SP (Brasil) 13403-799<br />
</address>


<h3>Contatos</h3>
<abbr title="Phone">Telefone/Celular:</abbr>
    +55 (19) 99714-1464
<br />
<abbr title="Email">Email:</abbr>
    rafaelaboyher@outlook.com